<!doctype html>
<html>
<body style="font-family: sans-serif">
<h1>{{ game_name }} {{ site_title }}</h1>

<p>
    One or more assets have been uploaded and are pending review. As a moderator, you have received this notification.
    To review these assets, visit the <a href="{{ full_url_for('home') }}">{{ game_name }} {{ site_title }}</a> site.
</p>
</body>
</html>
