{% from 'macros.twig' import bytesToSize %}
<!doctype html>
<html lang="en" data-bs-theme="{{ color_theme }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="darkreader-lock">
    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ game_name }} {{ site_title }}</title>
    <link href="{{ base_path }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_path }}/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container bg-body-tertiary border border-top-0">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ game_name }} {{ site_title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Top Level</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}">Manage or Upload</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <button
                        class="theme-toggle{% if color_theme == 'dark' %} theme-toggle--toggled{% endif %}"
                        type="button"
                        title="Toggle theme"
                        aria-label="Toggle theme"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            width="32px"
                            height="32px"
                            fill="currentColor"
                            stroke-linecap="round"
                            class="theme-toggle__classic"
                            viewBox="0 0 32 32"
                        >
                            <clipPath id="theme-toggle__classic__cutout">
                                <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
                            </clipPath>
                            <g clip-path="url(#theme-toggle__classic__cutout)">
                                <circle cx="16" cy="16" r="9.34" />
                                <g stroke="currentColor" stroke-width="1.5">
                                    <path d="M16 5.5v-4" />
                                    <path d="M16 30.5v-4" />
                                    <path d="M1.5 16h4" />
                                    <path d="M26.5 16h4" />
                                    <path d="m23.4 8.6 2.8-2.8" />
                                    <path d="m5.7 26.3 2.9-2.9" />
                                    <path d="m5.8 5.8 2.8 2.8" />
                                    <path d="m23.4 23.4 2.9 2.9" />
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container p-3 pb-0 mb-3 bg-body bg-opacity-75 border border-top-0">
    <h2>Directory Index of /{% if path %}{{ path }}/{% endif %}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Filename</th>
            <th scope="col">Size</th>
            <th scope="col">Author</th>
            <th scope="col">License</th>
            <th scope="col">Uploader</th>
        </tr>
        </thead>
        <tbody>
{% if path %}
        <tr>
            <td><a href="../">&lt;Parent Directory&gt;</a></td>
            <td>Directory</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
{% endif %}
{% for directory in directories %}
        <tr>
            <td><a href="{{ directory.path }}">&lt;{{ directory.name }}&gt;</a></td>
            <td>Directory</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
{% endfor %}
{% set has_legacy = false %}
{% for asset in assets %}
        <tr>
            <td><a href="{{ asset.filename | escape('html_attr') }}">{{ asset.filename | escape }}</a></td>
            <td>{{ bytesToSize(asset.file_size) }}</td>
            <td>{{ asset.author | escape }}</td>
            <td>{{ asset.license_name | escape }}{% if asset.license_id == 'Legacy' %}*{% set has_legacy = true %}{% elseif asset.license_id == 'Other' %} <span class="expand" data-index="{{ loop.index }}">🛈</span>{% endif %}</td>
            <td>{{ asset.username | escape }}</td>
        </tr>
{% if asset.license_id == 'Other' %}
        <tr class="d-none" data-index="{{ loop.index }}">
            <td colspan="4">
                {% if asset.license_url %}
                    <strong>License URL:</strong> <a href="{{ asset.license_url | escape('html_attr') }}" target="_blank" rel="noreferrer">{{ asset.license_url | escape }}</a>{% if asset.license_text %}<br>{% endif %}
                {% endif %}
                {% if asset.license_text %}
                    <strong>License Text:</strong><br>
                    <code><pre class="pre-wrap">{{ asset.license_text | escape}}</pre></code>
                {% endif %}
            </td>
        </tr>
{% endif %}
{% endfor %}
        </tbody>
    </table>
    {% if has_legacy %}<small>* License information from older site may be less precise than the updated site.</small>{% endif %}
    <div class="small text-center border-top mt-4 py-3">
        Send any content takedown requests to <a href="mailto:{{ takedown_address }}">{{ takedown_address }}</a>
    </div>
</div>

<script src="{{ base_path }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ base_path }}/js/common.js"></script>
<script>
    document.querySelectorAll('.expand').forEach((el) => {
        el.addEventListener('click', (ev) => {
            document.querySelector('tr[data-index="' + ev.target.dataset['index'] + '"]').classList.toggle('d-none');
        });
    });
</script>
</body>
</html>
