{% extends 'layout.html.twig' %}

{% block content %}
    The {{ site_title }} is a tool for BZFlag map authors.  It is to allow map authors to upload textures for use in their maps. Note that:
    <ul>
        <li>BZFlag 2.0.x only allows textures to be downloaded from a limited numbers of hosts, one of these being images.bzflag.org</li>
        <li>BZFlag 2.4.x <strong class="text-uppercase">only</strong> allows textures from images.bzflag.org. Some images that had been on various <em>username</em>.bzflag.bz hostnames have been migrated to <a href="http://images.bzflag.org/bz_legacy/">images.bzflag.org/bz_legacy/<em>username</em></a> to ease migration to 2.4.  Maps will need to be updated, however.</li>
    </ul>
    Therefore, by hosting your images here, you can be sure that players on your map can always view it the way it was intended, textures and all. They won't have to edit their downloadaccess.txt file to enable your textures.

    {% if username %}
        <hr>

        {% for item in pending %}
            {% if loop.first %}
                Here are your images that are currently pending moderation:<br>
                <table class="table table-striped table-bordered mt-2 mb-0">
                <thead>
                    <tr>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Author Information</th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
                    <tr>
                        <td><img src="{{ url_for('view', {'bzid': item.bzid, 'queueid': item.id, width: 128, height: 128}) }}" alt="{{ item.filename }} by {{ item.author_name }}"></td>
                        <td>
                            <strong>Filename:</strong> {{ item.filename }}<br>
                            <strong>Author Name:</strong> {{ item.author_name }}<br>
                            <strong>License:</strong> {{ item.license_name }}<br>
                            {% if item.license_url %}<strong>License URL:</strong> <a href="{{ item.license_url }}" target="_blank" rel="noopener">View License</a><br>{% endif %}
                            {% if item.license_text %}<strong>License Text:</strong>{{ item.license_text | nl2br }}{% endif %}
                        </td>
                    </tr>
            {% if loop.last %}
                </tbody>
                </table>
            {% endif %}
        {% else %}
            You currently have no images pending moderation.
        {% endfor %}
    {% endif %}

{% endblock %}
