<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="darkreader-lock">
    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_title }}</title>
    <link href="{{ base_path() }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_path() }}/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container bg-body-tertiary border border-top-0">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">{{ site_title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                    <li class="nav-item">
                        <a class="nav-link{% if is_current_url('home') %} active" aria-current="page{% endif %}" href="{{ url_for('home') }}">Home</a>
                    </li>

                    {% if username %}
                    <li class="nav-item">
                        <a class="nav-link{% if is_current_url('upload') %} active" aria-current="page{% endif %}" href="{{ url_for('upload') }}">Upload</a>
                    </li>
                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Queue</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="https://my.bzflag.org/weblogin.php?action=weblogin&amp;url={{ full_url_for('login', {'token': '%TOKEN%', 'username': '%USERNAME%'}) | url_encode }}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container p-3 pb-0 bg-dark bg-opacity-75 border border-top-0">
{% block content %}{% endblock %}

    <div class="small text-center border-top mt-5 py-3">
        Website Copyright &copy; {{ "now"|date("Y") }} BZFlag &amp; Associates | <a href="{{ url_for('terms') }}">Terms of Service</a>
    </div>
</div>

<script src="{{ base_path() }}/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
