{% extends "layout.html.twig" %}

{% from 'macros.twig' import bytesToSize %}

{% set page_title = 'Upload' %}

{% block content %}
    <form action="{{ url_for('upload') }}" id="uploads" class="hide-other-licenses">
        <input type="hidden" name="success" value="1">

        <div class="container text-center">
            <h3>Upload Limits</h3>
            <div class="row">
                <div class="col col-12 col-lg-4 mb-3 mb-lg-0">
                    Maximum Size Per File:<br>
                    {{ bytesToSize(upload_config.max_file_size) }}
                </div>
                <div class="col col-12 col-lg-4 mb-3 mb-lg-0">
                    Files: <span id="total_files">0</span> out of {{ upload_config.max_file_count }}
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" id="total_files_progress" style="width: 0"></div>
                    </div>
                </div>
                <div class="col col-md-12 col-lg-4 mb-md-3">
                    Total Size: <span id="total_size">0B</span> out of {{ bytesToSize(upload_config.max_post_size) }}
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" id="total_size_progress" style="width: 0"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div id="file_list"></div>

        <template id="file_template">
        <div class="upload mb-3 pb-3 border-bottom">
            <input type="hidden" class="asset_index">
            <input type="file" name="assets[%ASSET_INDEX%][file]" class="d-none" accept="{{ upload_config.accept }}">
            <div class="row mb-3">
                <div class="col me-3 position-relative file-info">
                    <h3>File Information</h3>
                    <canvas class="file-preview d-none position-absolute" width="512" height="512"></canvas>
                    <div class="file-metadata">
                        Filename:<br>
                        <span class="file-name font-monospace bg-dark-subtle p-1"></span><br>
                        File size: <span class="file-size"></span><br>
                        <button class="btn btn-outline-danger mt-3 remove-file" type="button">Remove File</button>
                    </div>
                </div>
                <div class="col">
                    <h3>Source Information</h3>
                    <label class="form-label" for="author">Author Name:</label>
                    <input type="text" class="form-control" id="author" name="assets[%ASSET_INDEX%][author]" required>

                    <label class="form-label" for="source_url">Source URL:</label>
                    <input type="text" class="form-control" id="source_url" name="assets[%ASSET_INDEX%][source_url]">
                </div>
            </div>
            <div class="row d-none file-error">
                <div class="col text-danger-emphasis">
                    <strong>Errors:</strong><br>
                    <ul></ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="license">License for this file:</label>
                    <select class="form-select license-select" id="license" name="assets[%ASSET_INDEX%][license]" required>
                        <option value="">Select a license</option>
                        <optgroup label="Popular Licenses">
                        {% for id, name in licenses.popular %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                        </optgroup>
                        <optgroup label="Common Licenses">
                        {% for id, name in licenses.common %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                        </optgroup>
                        {% if upload_config.licenses.allow_other %}
                        <option value="Other">Other Approved License</option>
                        {% endif %}
                        <optgroup label="Other OSI-Approved Licenses" class="other-licenses">
                        {% for id, name in licenses.other %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                        </optgroup>
                    </select>

                    <div class="custom-license d-none">
                        <label class="form-label" for="license_name">License Name:</label>
                        <input type="text" class="form-control license-name" id="license_name" name="assets[%ASSET_INDEX%][license_name]">

                        <label class="form-label" for="license_url">License URL:</label>
                        <input type="text" class="form-control license-url" id="license_url" name="assets[%ASSET_INDEX%][license_url]">
                    </div>
                </div>
                <div class="col custom-license d-none">
                    <label class="form-label" for="license_text">License Text:</label>
                    <textarea class="form-control license-text" id="license_text" name="assets[%ASSET_INDEX%][license_text]" rows="8"></textarea>
                </div>
            </div>
        </div>
        </template>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="new_files">Add additional files</label>
                <input type="file" class="form-control" id="new_files" multiple accept="{{ upload_config.accept }}" required>
            </div>
        </div>
        {% if upload_config.licenses.allow_other_osi %}
        <div class="row">
            <div class="col">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="show_other_licenses">
                    <label class="form-check-label" for="show_other_licenses">Show other OSI-approved licenses</label>
                </div>
            </div>
        </div>
        {% endif %}

        <hr>

        <div class="row mb-3">
            <h3>Uploader Information</h3>
            <div class="col">
                <label class="form-label">Upload Directory:</label>
                <input type="text" class="form-control" disabled value="{{ upload_directory }}">
            </div>

            <div class="col">
                <label class="form-label" for="uploader_email">Email Address:</label>
                <input type="email" class="form-control" id="uploader_email" name="uploader_email" required>
            </div>
        </div>

        <div class="row">
            <div class="col form-check">
                <input class="form-check-inline" type="checkbox" value="yes" id="agree_terms" name="agree_terms" required>
                <label class="form-check-label" for="agree_terms">I confirm that all of the above images comply with the <a href="{{ url_for('terms') }}" target="_blank">Terms of Service</a>.</label>
            </div>
        </div>

        <div class="row d-none text-danger-emphasis mt-4" id="errors">
            <div class="col">
                <strong>Errors:</strong><br>
                <ul></ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary mt-3" id="btn_upload_assets">Upload Assets</button>
            </div>
        </div>
    </form>

    <div id="dialog" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dialog_title">Error Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="dialog_message">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const max_file_size = {{ upload_config.max_file_size }};
    const max_file_count = {{ upload_config.max_file_count }};
    const max_post_size = {{ upload_config.max_post_size }};
</script>
<script src="{{ base_path() }}/js/preview.js"></script>
<script src="{{ base_path() }}/js/upload.js"></script>
{% endblock %}
